.html-hotkey-basic {
  position: relative;
}

.html-hotkey-basic video {
  width: 100%;
}

.html-hotkey-basic__instructions {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 6px 10px;
  margin: 0;
  color: white;
  background: rgb(0 0 0 / 70%);
  border-radius: 4px;
}

.html-hotkey-basic__button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 8px 20px;
  color: black;
  cursor: pointer;
  background: rgb(255 255 255 / 80%);
  border: 1px solid rgb(255 255 255 / 30%);
  border-radius: 9999px;
}

.html-hotkey-basic__button .show-when-paused,
.html-hotkey-basic__button .show-when-playing,
.html-hotkey-basic__button .show-when-ended {
  display: none;
}

.html-hotkey-basic__button[data-paused]:not([data-ended]) .show-when-paused,
.html-hotkey-basic__button:not([data-paused]) .show-when-playing,
.html-hotkey-basic__button[data-ended] .show-when-ended {
  display: inline;
}
